<div class="logo">
  <a href="/index.html">
    <span>Space Explorer</span>
  </a>
</div>

<button id="menu-button" aria-label="Toggle Navigation">
  <img
    id="saturn-icon"
    src="/images/planet-hambutton.svg"
    alt="Open navigation menu"
  />
</button>

<nav class="navigation">
  <ul id="nav-menu">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/planets/index.html">Planets</a></li>
    <li><a href="/favorites/index.html">Favorites</a></li>
  </ul>
</nav>
<ul class="apod">
  <li>
    <a href="/apod/index.html" aria-label="Discover"> ✦ </a>
  </li>
</ul>

<div class="stars">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>