<div class="logo">
  <a href="/index.html">
    <img src="/images/logo-spaceExplorer.png" alt="Space Explorer logo" />
    <span id="page-name">Space
      <span>Explorer</span>
    </span>
  </a>
</div>

<button
  id="menu-button"
  aria-label="Toggle navigation menu"
  aria-expanded="false"
>
  <img id="saturn-icon" src="/images/planet-hambutton.svg" alt="" />
</button>

<nav class="navigation">
  <ul id="nav-menu">
    <li>
      <a href="/index.html">Home</a>
    </li>

    <li>
      <a href="/planets/index.html">Planets</a>
    </li>

    <li>
      <a href="/favorites/index.html">Favorites</a>
    </li>
  </ul>
</nav>

<ul class="apod">
  <li>
    <a href="/apod/index.html" aria-label="Astronomy Picture of the Day"> ✦ </a>
  </li>
</ul>

<div class="stars">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
